*{
    font-family: "Noto Sans JP";
}
nav{
    box-shadow: none!important;
    border-top: 10px solid #1efad9!important;
}
h1,h2,h3{
    font-weight: 500!important;
}
p{
    margin-top: 5px!important;
}
img{
    max-height: 400px;
}
